
{% set counter = 1 %}
{%for item in items %}
      {%if counter == 1 %}
      <div class="box{{counter}} active" onclick="openTab(event, 'tab-content{{counter}}')">
        <p>{{ item.content }}</p>
      </div>
      {% else %}
      <div class="box{{counter}}" onclick="openTab(event, 'tab-content{{counter}}')">
        <p>{{ item.content }}</p>
      </div>
      {% endif %}
  {% set counter = counter + 1 %}
{% endfor %}
